{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% trans "Razorpay transaction" %} {{ txn.txnid }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            Razorpay <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'razorpay-list' %}">{% trans "Razorpay transactions" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ txn.txnid }}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% blocktrans with id=txn.txnid %}
        Transaction {{ id }}
    {% endblocktrans %}
{% endblock %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <tbody>
            <tr><th>{% trans "Razorpay ID" %}</th><td>{{ txn.rz_id|default:"-" }}</td></tr>
            <tr><th>{% trans "Amount" %}</th><td>{{ txn.amount|default:"-" }}</td></tr>
            <tr><th>{% trans "Currency" %}</th><td>{{ txn.currency }}</td></tr>
            <tr><th>{% trans "Status" %}</th><td>{{ txn.status }}</td></tr>
            <tr><th>{% trans "User" %}</th><td>{{ txn.user }}</td></tr>
            <tr><th>{% trans "Email" %}</th><td>{{ txn.email }}</td></tr>
            <tr><th>{% trans "Error code" %}</th><td>{{ txn.error_code|default:'-' }}</td></tr>
            <tr><th>{% trans "Error message" %}</th><td>{{ txn.error_message|default:"-" }}</td></tr>
            <tr><th>{% trans "Date" %}</th><td>{{ txn.date_created }}</td></tr>
        </tbody>
    </table>
{% endblock dashboard_content %}
